<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Kadai Thymeleaf</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.inputScreen}"></h2>
    <p th:text="#{content.message}"></p>
    
    <p th:unless="${previous} eq null" th:text="'前回入力された値は「' + ${previous} + '」でした。'">th:unless</p>
    
    <form method="post" action="/output">
        <input type="text" name="previous">
        <button type="submit" th:text="#{content.btn}"></button>
</body>
</html>